#AnchorPane{
    -fx-background-color: #e9e9e9;
    -fx-padding: 5 5 5 5;
    -fx-font-weight: bold;
}
#closeButton:hover{
    -fx-background-color: #e3e3e3;
}
#searchButton:hover{
    -fx-background-color: #e3e3e3;
}
#ListView{
    -fx-background-color: #f1f1f1;
}
#Text{
    -fx-background-color: #4d90fe;
    -fx-text-color: #fffbfb;

}
#Text1{
    -fx-background-color: #4d90fe;
    -fx-label-color: #fffbfb;
}